<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <head>
    <title> Twitter Jeopardy {{ title }} </title>
  </head>

  <body>
    <h1> Twitter Jeopardy </h1>
        <!-- add new block here -->
    {% block content %}
    
    <form action="/user" method="post">
      <input type="text" name="twitter_handle" placeholder="User to add">
      <button type="submit" class="btn btn-primary">Add New User</button>
    </form>
  
    <p>{{ message }}</p>
    <p>Available Users</p>
    <form action="/compare" method="post">
    <table class="table" style="width:100%">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Twitter handle</th>
        <th scope="col">Followers</th>
        <th scope="col">Following</th>
        <th scope="col">Tweets available</th>
        <th scope="col">First tweet</th>
        <th scope="col">Latest tweet</th>
        <th scope="col">Select Users</th>
      </tr>
      </thead>
    {% for user in users %}
    <tr>
        <th scope="row"><a href='/user/{{ user.name }}'>{{ user.name }}</a></th>
      <td>{{ user.followers }} </td>
      <td>{{ user.following }} </td>
      <td>{{ user.available_tweets }} </td>
      <td>{{ user.oldest_tweet }} </td>
      <td>{{ user.last_tweeted }} </td>
      <td>
        <input class="form-check-input" type="checkbox" name="selectusers" value="{{ user.name }}">
        <label class="form-check-label" for="{{ user.name }}" class="mr-2 label-table"></label>
      </td> 
    </tr>
    {% endfor %}
    </table>
    
    <input type="text" name="tweet_tweet" placeholder="tweet tweet">
    <button type="submit" class="btn btn-primary">Play Jeopoardy</button>
  </form>

  <div class="col-6">{{ jeopardymessage }}</div>
    {% endblock %}
  </body>
</html>